body {
  --commentColor: #145B5F;
  --negativeValuesBackground: #D8FBFE;
  --positiveValuesBackground: #FFE7D5;;
  --bitHoverBackground: #D6E4E9;
}

@media (prefers-color-scheme: dark) {
    body {
      --commentColor: #70C4C9;
      --negativeValuesBackground: #0e0761;
      --positiveValuesBackground: #380707;
      --bitHoverBackground: #0C0C0D;
    }
}

tr.binaryAndDecimalHeaderRow{
  font-size: 0.4rem;
  color: var(--commentColor);
}

/* The row for the decimal values of an individual bit (1, 2, 4, 8, etc.) */
tr.bitValuesInDecimal {
  font-size: 0.7rem;
  color: var(--commentColor);

  background-color: var(--background);
}
tr.bitValuesInDecimal td {
  /* Add some space between the decimal values of bits and their neighbors (table border or bits) */
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

tr.bitsWithResult {
  font-family: monospace;
}
table {
  text-align: center;
}

.allBitValuesWithDecimalResult td {
  padding: 0.15rem;
}

table td {
  padding: 0.3rem;
  line-height: 0.7;
}
td.toggleableBit {
  background: #24AFDE1A;
  cursor: pointer;
}
td.toggleableBit:hover {
  background: var(--bitHoverBackground);
}

table.withToggleableBitsAndResult{
  border: 1px solid #D6E4E9;
  border-radius: 4px;

  margin: 0 auto;
  font-size: 2.0rem;
}
table.withToggleableBitsAndResult td {
  padding-left:  0.3rem;
  padding-right: 0.3rem;
}
table.withToggleableBitsAndResult td.toggleableBit {
  padding-top:    0.3rem;
  padding-bottom: 0.3rem;
}

table.withToggleableBitsAndResult td.decimalResult {
  /* Give the decimal result enough width to avoid moving it when it gets negative*/
  width: 2.5rem;
}

/* Add a border between the colored background of the first data cell and the table's border */
table.withToggleableBitsAndResult td:first-child {
  border-left: 5px solid var(--background);
}

td.equalSign {
  color: #D1BAC3;
}
/* The decimal result of a binary number */
td.decimalResult {
  /* Align it right to leave space for the negative sign */
  text-align: right;
}
.signBit {
  color: #DD0F59;
}

table.allBitValuesWithDecimalResult{
  /* Needed so we can have a border between the column groups of positive and negative values  */
  border-collapse: collapse;
}
colgroup.positiveValues{
  background: var(--positiveValuesBackground);
  /* This separates the column with negative values from the positive values */
  border-right: 1rem solid var(--background);
}
colgroup.negativeValues{
  background: var(--negativeValuesBackground);
}

table.complementCalculation{
  font-family: monospace;
  /* Needed so we can have a border between the column groups of bits and the comments saying what the bits represent */
  border-collapse: collapse;
}
table.complementCalculation td {
  line-height: 1;
  /* Since the table has "border-collapse: collapse" we need to add some margins to the table cells */
  border: 2px solid var(--background);
}
tr.complementCalculationLineRow td {
  color: gray;
  line-height: 0.2;
}
colgroup.minusSignAndBitsOfComplementCalculation {
  /* This separates the column with bits from the comments what they represent */
  border-right: 0.8rem solid var(--background);
}
td.complementComment {
  color: var(--commentColor);
  text-align: left;
  font-family: sans-serif;
  font-size: 0.8rem;
}

/* When using four bits, the leftmost bit (with index 4) is ignored in two's complement */
#twosComplementResultIndex4 {
  color: gray;
}
