img.embedded {
  height: 1.5em
}

#toc_container {
  background-color: #ffebcc;
  display: table;
  font-size: 90%;
  padding: 0.4em;

  margin-left: auto;
  margin-right: auto;
}

.toc_title {
  font-weight: bold;
  text-align: center;
}

#toc_container li{
  list-style: none;
  margin: 0 0 0 0;
  line-height:1.6;
}

@media (prefers-color-scheme: dark) {
  #toc_container {
    background-color: #42414D;
  }
}

.videocaption {
  font-size: 85%;
  margin-bottom: 3.5em;
  text-align: center;
}

#link_back_home {
  font-size: 120%;
  margin-bottom: 2.0em;
}
