.buttonBase {
    /* Necessary for Chromium so the button has the same font as the body */
    font-family: inherit;
    color: black;
    cursor: pointer;
    margin: 1em;
    height: 3em;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    padding-left: 1em;
    padding-right: 1em;

    border-radius: 50px;
    transition: all .4s ease-in-out;
}

.buttonBase:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.buttonBase:focus {
    outline: none;
}

.buttonBase.greenBlue {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.buttonBase.peach {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
