.user-input {
  color: #007F00;
#6AAB73
}
.hint {
  background-color: #FFFFF0;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
}
.hint h4 {
  margin-top: 0.1em;
}
@media (prefers-color-scheme: dark) {
  .hint{
    background-color: #2D2D35;
  }
  .user-input {
    color: #6AAB73;
  }
}
table {
  margin: 0.5em;
  border-collapse: collapse;
}
table th {
  text-align: left;
  padding-right: 1em;
  padding-left: 0.5em;
  border: 1px #ccc solid;
}

table td {
  padding: 0.5em;
  border: 1px #ccc solid;
}

